body {
    background-color: #ffffff;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 4rem;
}

/* Page d'accueil */

#accueil h2 {
    font-size: 2rem;
}

#accueil {
    text-align: center;
    position: relative;
    margin-top: 180px;
}

#intro {
    text-align: justify;
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 215px;
}

.one-color{
    color: #DE5C59;
}

/* barre d'onglet */

nav {
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 42px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 1000; 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 5;
    padding: 5; 
}




nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
  color: rgb(0, 115, 255);
  
}

/* Page de l'article 1 */

#article1 {
    text-align: justify;
    margin-left: 80px;
    margin-right: 215px;
    position: relative;
    margin-top: 180px;
}

#article1 h2 {
    font-size: 3rem;
}

#img1-article1 {
    float: left;
    margin-right: 10px;
}

#img2-article1 {
    float: right;
    margin-left: 10px;
}

/* Page de l'article 2 */

#article2 {
    text-align: justify;
    margin-left: 80px;
    margin-right: 215px;
    position: relative;
    margin-top: 180px;
}

#article2 h2 {
    font-size: 3rem;
}

#img1-article2 {
    float: right;
    margin-left: 10px;
}

/* Page de l'article 3 */

#article3 {
    text-align: justify;
    margin-left: 80px;
    margin-right: 215px;
    position: relative;
    margin-top: 180px;
}

#article3 h2 {
    font-size: 3rem;
}

#img1-article3 {
    float: left;
    margin-right: 10px;
}

#img2-article3 {
    float: right;
    margin-left: 15px;
}
