@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

body {
    background-color: #333;
    font-family: 'Rethink Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* barre d'onglet */

nav {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.logo {
    margin-right: 35px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: auto;
    padding: 0;
}

nav li {
    margin-right: 85px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
  color:#f5c801;
}

.sous-onglet li {
    margin: 15px;
}

.sous-onglet a:hover {
    color: #ffffff;
}

.sous-onglet {
    display: none;
    position: absolute;
    background-color: #f5c801;
    box-shadow: 0 2px 10px rgb(2, 2, 2);
    z-index: 1;
}

li:hover .sous-onglet {
    display: block;
}

.icones {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.icones img {
    margin-right: 25px;
}
h1 {
    background-color: #f5c801;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

p {
    text-align: justify;
}

.yellow-box {
    background-color: #ffd700;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.grey-box{
    background-color: #333;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #fff;
}